/* Header */
.header {
  box-sizing: border-box;
  background-color: #131313;
  padding: 30px 40px 30px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
}
.header__item {
  display: flex;
  list-style: none;
  gap: 32px;
}
.header__item-list {
}
.header__link {
  font-family: "Inter", sans-serif;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}
.header__link-active {
  text-decoration: none;
}
/* End header */
/* cover */
.cover {
  box-sizing: border-box;
  width: 100%;
  background-color: #2f2c45;
  padding: 116px 40px;
}
.cover__title {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1px;
}
/* End cover */
/* Hover */
.hero {
  box-sizing: border-box;
  padding: 60px 37px 60px 40px;
}
.hero__text {
  color: #000;
  font-size: 30px;
  font-weight: 400;
}
.hero__subtitle-text-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero__subtitle-text {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
/* End hover */
/* lots */
.lots {
  box-sizing: border-box;
  padding: 60px 40px;
  background: #2f2c45;
}
.lots__title {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
}
.lots__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  column-gap: 28px;
  row-gap: 40px;
}
.lots__list-item {
  flex: 1 1 330px;
}
.lots__card {
}
.lots__card-head {
  text-align: center;
  border-radius: 20px 20px 0 0;
  min-height: 180px;
  margin-top: 17px;
}
.head__back-dots {
  background-color: #f6c055;
}
.head__back-img-dots {
  max-width: 224px;
}
.lots__card-container-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  background-color: #fff;
  min-height: 425px;
  border-radius: 0 0 20px 20px;
  margin-top: -6px;
}
.lots__card-title {
  font-size: 30px;
}
.lots__card-subtitle {
  font-size: 20px;
  line-height: 30px;
}
.head__back-butterfly {
  background-color: #5493ce;
}
.head__back-img-butterfly {
  max-width: 187px;
}
.head__back-stairs {
  background-color: #94d384;
}
.head__back-img-stairs {
  max-width: 236px;
}
.head__back-warm {
  background-color: #555680;
}
.head__back-img-warm {
}
